button.activable {
	color: #ababab;
	background-color: #bababa;
}

.exercici9 #contingut {
	width: 20em;
}

.exercici10 .error {
	border:2px solid red;
}

.exercici10 .success {
	border: 2px solid green;
}