button.activable {
	color: #ababab;
	background-color: #bababa;
}

.exercici9 #contingut {
	width: 20em;
}

.exercici10 .error {
	border:2px solid red;
}

.exercici10 .success {
	border: 2px solid green;
}

.exercici11 .contenidor {
	display: flex;              
      justify-content: space-around; 
      align-items: flex-start;    
      gap: 20px;                  
      margin: 40px;
}

.exercici11 section {
	margin-top: 10px;
	font-size: 14px;
	color: #333;  
	visibility: hidden;
}

.exercici11 .visible {
	visibility: visible;
}